       @font-face {
            font-family: "Monument";
            src: url("font/MonumentExtended-Regular.otf") format("opentype");
            font-weight: normal;
        }

        @font-face {
            font-family: "Monument";
            src: url("font/MonumentExtended-Ultrabold.otf") format("opentype");
            font-weight: bold;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Monument";
            background: #000;
            color: #fff;
            position: relative;
            overflow-x: hidden;
        }

        .loader {
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 100px;
            position: fixed;
            top: 0;
            left: 0;
            background: #000;
            z-index: 10;
        }

        .loading_text {
            opacity: 0;
            margin-left: 10px;
        }

        .text_11,
        .text_12,
        .text_13,
        .text_14,
        .text_15 {
            margin-left: 100px;
            opacity: 0;
        }
       .secondloader{
        margin-top: 40px;
       }
        .final-text {
            position: fixed;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 14px;
            opacity: 0;
            line-height: 1.3;
            z-index: 5;
        }

        .scramble {
            color: #fff;
        }

        .rotating-words {
            display: flex;
            justify-content: center;
            gap: 100px;
            margin-bottom: 200px;

        }

        .rotating-letter {
            display: inline-block;
            transition: transform 0.5s ease;
            cursor: pointer;
        }

        .rotating-letter:hover {
            transform: rotateY(360deg);
        }

        .main_content {
            display: none;
            position: relative;
            z-index: 1;
        }

        .scroll-section {
            position: relative;
         
            height: 100vh;
            font-size: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        .demo {
            height: 200vh;
            display: flex;
            justify-content: center;
            align-items: center;
          
        }
         .demot {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
          
        }

        #scroll-indicator {
            padding-top: 100px;
            font-size: 12px;
            
        }

      
        